<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
   <script src="/js/introHCI.js"></script>
  </head>

  <style>
      h3{
        margin-top: -8px;
        margin-left: 30px;
      }
  </style>

    <p><a href="/index"><img src="https://cdn1.iconfinder.com/data/icons/media-line-5/32/ui_icon_expand-09-512.png" class="returnbutton"></a ></p >
    <h3 style="color:rgb(153, 58, 58);">My Favourite</h3>
    <div class= "liked-post">
    {{#each projects}}
    <div class="liked" id="{{id}}">
      <a href="/project/{{id}}">
        <p class="description" style="color: black;">{{name}}</p >
        <img class='food' id="photo" width="120px" height="120px"  src="{{image}}">
      </a>
    </div>
    {{/each}}
    </div>

  </body>
</html>
