<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">
    <p><a href="/index"><img src="https://cdn1.iconfinder.com/data/icons/media-line-5/32/ui_icon_expand-09-512.png" class="returnbutton"></a></p>

    <div class="jumbotron">
   <h4 id="recipeName">Recipe Name</h4>

        <form id="addPostForm" action="/add">
            <input id="recipeName" name = "recipeName">

            <h4 id="Time">Time estimate</h4>
            <input id="TimeEstimate" name = "TimeEstimate">


            <h4 id="recipe">Pictures</h4>
            <input type="url" id="myFile" name="myFile" placeholder="Eg. Type in URL">


            <h4 id="ingred">ingredients</h4>
            <textarea id="ingredients" name = "ingredients"></textarea>
            

            <h4 id="Proc">Process</h4>
            <textarea id="Process" name = "Process"></textarea>

            
            {{!-- <input type="file" id="myFile" name="myFile"> --}}

            <p><br></p >
            {{!-- <a href=" "><input type="button" value="Upload Your Recipe"  action="/add"></a > --}}

  
          {{!-- <a href="/index"><input type="submit" id="submitBtn" value="Upload Your Recipe"></input></a > --}}
          <input type="submit" id="submitBtn" value="Upload Your Recipe"></input>
    </form>
  </div>
   
   
    	


  </body>
</html>
