/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQORibdtGEl6Ld5w5M3a_dTgcbJSTyl48zv9A&usqp=CAU");
     opacity: 0.7 ;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

/* .project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
} */

.row .thumbnail h4 {
     text-align: left;
}

.likeCtr {
     text-align: center;
}
.food {
     width: 120px;
     height: 120px;
     margin-left: 100px;
     margin-bottom: 10px;
 }
 
 .foodinner {
     width: 350px;
     height: 400px;
     /* margin-left: 7%; */
     margin-bottom: 5%;
     border-radius: 20%;
 }

 .icon {
     width: 50px;
     height: 50px;
     margin-left: 15%;
     margin-bottom: 5%;
 }


 .returnbutton {
     width: 50px;
     height: 50px;
     margin-left: 5%;
 }

 /* img {
     
 } */
 #dialog {
     width: 270px;
     height: 60px;
 }

 /* .description {
      font-size: 16px;
      margin-left: 180px;
      margin-top: -100px;
 } */

 #photo{
      border-radius: 20%;

 }

 .top {
     position: fixed;
     width:100%;
     background-color: rgb(218, 136, 136);
     height: 100px;
     z-index: 1;
 }
 .post{
      margin-top: 110px;
      margin-bottom: 50px;
 }

html {
overflow: hidden;
height: 100%;
}

body {
height: 100%;
overflow: auto;
background-color: rgb(241, 211, 216);
}


form.example input[type=text]{
     padding: 7px;
     font-size: 17px;
     color: black;
     border: 10px red;
     margin-left: 53px;
     width: 75%;
     background: #f1f1f1;
     margin-top:25px;
     border-radius: 30px;
     /* display:none; */
}

#upload {
     position: relative;
     float: left;
     margin-left: 20px;
     margin-top: -32px;
     border-radius: 5px;
     color: gray;
     border-color: rgb(194, 102, 102);
     border-style: solid;
 }

 #buttom {
     background-color:rgb(218, 136, 136);
     position:fixed;
     bottom:0px;
     left:0px;
     right:0px;
     height:55px;
     /* margin-bottom:0px; */
}

.icon1{
     position: top;
     margin-left: 30px;
}
.icon2{
     margin-left: 80px;
}
.icon3{
     margin-left: 100px;
}
